{{>layout/header}}

<div>
    <button type="button" class="btn btn-dark btn-block" id="click-save">click</button>
</div>

<div>
    <table class="table table-horizontal table-bordered">
        <tbody>

        </tbody>
    </table>
</div>

{{>layout/click-footer}}